{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Server Error | Xtra Blog</title>
{% endblock %}

{% block style %}
<style>
section {
    min-height: 60vh;
    font-size: 16px;
}
#error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
</style>
{% endblock %}
           
{% block body %}
<section>
<div class="row tm-row tm-mb-45">
<div class="col-12">
    <hr class="tm-hr-primary tm-mb-55">
    <div id="error">
    <h2>Internal Server Error</h2>
    <h6><i>Sorry... something went wrong</i></h6>
    <img src="{% static 'img/error500.jpg' %}" width="500" class="img-fluid">
    <p>We are working to fix this issue as soon as possibe!</p>
    </div>
</div>
</div>
</section>
{% endblock %}