{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
    
    {% block title %}
    {% endblock %}
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/templatemo-xtra-blog.css' %}" rel="stylesheet">
    <style>
        .fa-times {
            cursor: pointer;
        }
        #tm-header {
            overflow-y: scroll;
        }
        #categories-list {
            text-align: center;
            list-style: none;
            margin-bottom: 30px;
            color: #fff;
        }
        #categories {
            text-decoration: underline;
            font-weight: bold;
            font-size: 20px;
        }
        .error {
            color: rgba(255, 0, 0, 0.808);
        }
        .success {
            color: rgba(1, 170, 1, 0.801);
        }
        .info {
            color: rgba(3, 51, 211, 0.705);
        }
    </style>

    {% block style %}
    {% endblock %}

    <script type="text/javascript">
        var user = '{{request.user}}'
    
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>
<!--
    
TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper" id="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="mb-3 mx-auto" id="close"><i class="fas fa-times fa-2x"></i></div>
            <div class="tm-site-header mb-3">         
                <h1 class="text-center"><a href="/"  style="color: #fff;">{{xtrablog.name}}</a></h1>
            </div>
            <nav class="tm-nav" id="tm-nav">
                <ul style="list-style: none;" id="categories-list">
                    {% if categories %}
                    <li id="categories">Categories</li>
                    {% for category in categories %}
                    <li><i class="fas fa-angle-right"></i> <a href="/result/{{category.category_name}}" style="color: #fff;">{{category.get_category_name_display}}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>           
                <ul>
                    <li class="tm-nav-item active"><a href="/" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Home
                    </a></li>
                    {% if user.is_authenticated %}
                    <li class="tm-nav-item"><a href="{% url 'Blog:logout' %}" class="tm-nav-link">
                        <i class="fas fa-sign-out-alt"></i>
                        {{user.username}}<br> Sign out
                    </a></li>
                    {% else %}
                    <li class="tm-nav-item"><a href="{% url 'Blog:login' %}" class="tm-nav-link">
                        <i class="fas fa-sign-in-alt"></i>
                        Sign in
                    </a></li>
                    {% endif %}
                    <li class="tm-nav-item"><a href="{% url 'Blog:about' %}" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        About Us
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url 'Blog:contact' %}" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a></li>
                    {% if user.is_superuser %}
                    <li class="tm-nav-item"><a href="{% url 'Blog:newsletter' %}" class="tm-nav-link">
                        <i class="fa fa-share" aria-hidden="true"></i>
                        Newsletter
                    </a></li>
                    {% endif %}
                </ul>
            </nav>
            <div style="margin-right: 20px;">
                <form method="POST" class="form-inline tm-mb-80 tm-search-form">
                {% csrf_token %}
                    <p style="color:#fafafa; font-size: 17px; margin-left:0;">Subscribe to get post updates, contents and offers!</p>
                    <input class="form-control" name="subscribe" type="text" placeholder="Enter email" style="width: 100%;">
                    <button name="subscribe-submit" type="submit" style="width: 100%; border:none; color:#fff;">Subscribe</button>                                
                </form>
            </div> 
            <div class="tm-mb-65">
                {% if xtrablog.facebook_link %}
                <a rel="nofollow" target="_blank" href="{{xtrablog.facebook_link}}" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                {% endif %}
                {% if xtrablog.twitter_link %}
                <a href="{{xtrablog.twitter_link}}" target="_blank" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                {% endif %}
                {% if xtrablog.instagram_link %}
                <a href="{{xtrablog.instagram_link}}" target="_blank" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                {% endif %}
                {% if xtrablog.linked_in %}
                <a href="{{xtrablog.linked_in}}" target="_blank"  class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
                {% endif %}
                {% if xtrablog.youtube_link %}
                <a href="{{xtrablog.youtube_link}}" target="_blank" class="tm-social-link">
                    <i class="fab fa-youtube tm-social-icon"></i>
                </a>
                {% endif %}
                {% if xtrablog.whatsapp_link %}
                <a href="{{xtrablog.whatsapp_link}}"target="_blank"  class="tm-social-link">
                    <i class="fa fa-whatsapp tm-social-icon"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="POST" class="form-inline tm-mb-80 tm-search-form"> 
                    {% csrf_token %}               
                        <input class="form-control tm-search-input" name="search" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" name="search-submit" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>
            {% for message in messages %}
            <h5 {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{message}}</h5>
            {% endfor %}

            {% block body %}
            {% endblock %}

            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
                    Developed: <a rel="follow" target="_parent" href="#" class="tm-external-link">Legacy Tech</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2020 Xtra Blog Company Co. Ltd.
                </div>
            </footer>
        </main>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/templatemo-script.js' %}"></script>
    <!-- script for google analytics -->
    {% if xtrablog.google_analytics %}
    {{xtrablog.google_analytics|safe}}
    {% endif %}
</body>
</html>