{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Contact Us | Xtra Blog</title>
{% endblock%}

{% block body %}
<!-- <div class="row tm-row tm-mb-45">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-55">
        <div class="gmap_canvas">
            <iframe width="100%" height="477" id="gmap_canvas"
                src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
    </div>                
</div> -->
<div class="row tm-row tm-mb-120">
    <div class="col-12">
        {% for message in messages %}
        {{message}}
        {% endfor %}
        <h2 class="tm-color-primary tm-post-title tm-mb-60">Contact Us</h2>
    </div>
    <div class="col-lg-7 tm-contact-left">
        <form method="POST" action="" class="mb-5 ml-auto mr-0 tm-contact-form">
            {% csrf_token %}                        
            <div class="form-group row mb-4">
                <label for="name" class="col-sm-3 col-form-label text-right tm-color-primary">Name</label>
                <div class="col-sm-9">
                    <input class="form-control mr-0 ml-auto" name="name" id="name" type="text" required>                            
                </div>
            </div>
            <div class="form-group row mb-4">
                <label for="email" class="col-sm-3 col-form-label text-right tm-color-primary">Email</label>
                <div class="col-sm-9">
                    <input class="form-control mr-0 ml-auto" name="email" id="email" type="email" required>
                </div>
            </div>
            <div class="form-group row mb-4">
                <label for="subject" class="col-sm-3 col-form-label text-right tm-color-primary">Subject</label>
                <div class="col-sm-9">
                    <input class="form-control mr-0 ml-auto" name="subject" id="subject" type="text" required>
                </div>
            </div>
            <div class="form-group row mb-5">
                <label for="message" class="col-sm-3 col-form-label text-right tm-color-primary">Message</label>
                <div class="col-sm-9">
                    <textarea class="form-control mr-0 ml-auto" name="message" id="message" rows="8" required></textarea>                                
                </div>
            </div>
            <div class="form-group row text-right">
                <div class="col-12">
                    <button class="tm-btn tm-btn-primary tm-btn-small" name="message-submit">Submit</button>                        
                </div>                            
            </div>                                
        </form>
    </div>
    <div class="col-lg-5 tm-contact-right">
        <address class="mb-4 tm-color-gray">
            {{xtrablog.address}}
        </address>
        <span class="d-block">
            Tel:
            <a href="tel:{{xtrablog.phone}}" class="tm-color-gray">{{xtrablog.phone}}</a>
        </span>
        <span class="d-block">
            Email:
            <a href="mailto:{{xtrablog.email1}}" class="tm-color-gray">{{xtrablog.email1}}</a>
        </span>
        {% if xtrablog.email2 %}
        <span class="mb-4 d-block">
            Email2:
            <a href="mailto:{{xtrablog.email2}}" class="tm-color-gray">{{xtrablog.email2}}</a>
        </span>
        {% endif %}
        <ul class="tm-social-links">
            {% if xtrablog.facebook_link %}
            <li class="mb-2">
                <a href="{{xtrablog.facebook_link}}" class="d-flex align-items-center justify-content-center">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            {% endif %}
            {% if xtrablog.twitter_link %}
            <li class="mb-2">
                <a href="{{xtrablog.twitter_link}}" class="d-flex align-items-center justify-content-center">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            {% endif %}
            {% if xtrablog.youtube_link %}
            <li class="mb-2">
                <a href="{{xtrablog.youtube_link}}" class="d-flex align-items-center justify-content-center">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            {% endif %}
            {% if xtrablog.instagram_link %}
            <li class="mb-2">
                <a href="{{xtrablog.instagram_link}}" class="d-flex align-items-center justify-content-center mr-0">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}     
